PORT=3000
CLIENT_URL=http://localhost:5173/
MONGO=mongodb+srv://
CLERK_WEBHOOK_SECRET=whsec_

SVIX_API_KEY=testsk_
# clerk
CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_bq
# imagekit
IMAGEKIT_PRIVATE_KEY=private_
IMAGEKIT_PUBLIC_KEY=public_